@charset "UTF-8";

html,body,.wrap
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
    font-size: 0;
    background-color: #364340;
}

.wrap
{
    display: flex;
    flex-direction: column;

}

.wrap > div
{
    width: 100%;
}

/*-- img viewer --*/
.img-viewer
{
    display: flex;
    height: 100%;
    justify-content: center;
}

.img-viewer img
{
    height: 100%;
    width: auto;
}

.menu-bar
{
    height: 100px;
    flex: 0 0 100px;
    background-color: red;
}