@charset "UTF-8";

@font-face
{
    font-family: "sg";
    src: url("fonts/sg.otf");
}

@font-face
{
    font-family: "ft";
    src: url("fonts/ft.otf");
}

html,body,.wrap
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
    font-size: 0;
    background-color: #364340;
    overflow: hidden;
}

.wrap
{
    display: flex;
    flex-direction: column;

}

.wrap > div
{
    width: 100%;
}

/*-- img viewer --*/
.img-viewer
{
    display: flex;
    height: 100%;
    justify-content: center;
}

.img-viewer .img-wrap
{
    width: 100%;
    text-align: center;
}

.img-viewer img
{
    height: 100%;
    width: auto;
}

.img-viewer img.wide
{
    width: 100%;
    height: auto;
}

/*-- menu bar --*/
.menu-bar,.menu
{
    min-height: 100px;
    transition: height .2s;
}

.menu-bar
{
    flex: 0 0 100px;
    transition: flex-basis .2s;
}

.menu-bar .menu
{
    max-width: 100%;
    width: 750px;
    margin: auto;
}

.menu > div
{
    display: inline-block;
    vertical-align: top;
    min-height: 100px;
}

/*-- info panel section --*/
.menu .info-panel
{
    width: 500px;
    max-width: 100%;
}

.menu .info-panel > div
{
    width: 100%;
    color: #39869f;
    font-family: "ft";
    box-sizing: border-box;
    padding-left: 15px;
}

.info-panel .time-code
{
    height: 80px;
    font-size: 63px;
}

.info-panel .name-info
{
    min-height: 20px;
    font-size: 16px;
    margin-top: -10px;
    padding: 0 15px 20px 15px;
}

/*-- controls section --*/
.menu .controls
{
    width: 250px;
    box-sizing: border-box;
    padding-top: 11px;
}

.controls .control-button
{
    display: inline-block;
    height: 80px;
    width: 100px;
    border-color: rgba(185,194,197,0.24) rgba(185,194,197,0.24) #b9c2c5 #b9c2c5;
    border-style: solid;
    border-width: 1px 1px 3px 3px;
    border-radius: 4px;
    font-size: 16px;
    color: #b9c2c5;
    font-family: "sg";
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    margin: 0 8px 0 8px;
    user-select: none;
    cursor: pointer;
    transition: background-color .16s;
}

.controls .control-button:hover
{
    background-color: rgba(185,194,197,0.1);
}

.controls .control-button:active
{
    background-color: rgba(185,194,197,0.24);
}

.control-button.done-button
{
    border-color: rgba(115,177,115,.24) rgba(115,177,115,.24) #73b173 #73b173;
    color: #73b173;
}

.control-button.done-button:hover
{
    background-color: rgba(115,177,115,.1);
}

.control-button.done-button:active
{
    background-color: rgba(115,177,115,.25);
}