/*-- when width is smaller than 750px --*/
@media (max-width: 750px)
{
    /* .wrap .menu-bar
    {
        min-height: 200px;
        flex: 0 0 200px;
    }

    .menu-bar .menu
    {
        min-height: 200px;
    } */

    .menu .controls
    {
        display: none;
    }
}