@charset "UTF-8";
@font-face {
  src: url("../font/NotoSansCJKjp-Medium.woff2");
  font-family: "noto jp";
  font-weight: 500;
}
@font-face {
  src: url("../font/NotoSansCJKjp-Regular.woff2");
  font-family: "noto jp";
  font-weight: 400;
}
@font-face {
  src: url("../font/NotoSansCJKjp-Light.woff2");
  font-family: "noto jp";
  font-weight: 300;
}
@font-face {
  src: url("../font/NotoSansCJKjp-Thin.woff2");
  font-family: "noto jp";
  font-weight: 200;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-size: 0;
  background-color: #364340;
  font-family: "noto jp";
  color: #b9c2c5;
}
h1,
p {
  margin: 0;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrap > div {
  width: 100%;
}
.img-display {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-display img {
  width: 100%;
  height: auto;
}
.img-display img.tall {
  height: 100%;
  width: auto;
}
.menu {
  font-size: 20px;
}
.menu .statuses {
  display: flex;
  color: #39869f;
  padding: 20px 0 20px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menu .statuses h1 {
  display: inline-block;
  height: 65px;
  font-size: 65px;
  font-weight: 400;
  line-height: 1;
  margin-right: 20px;
}
.menu .statuses .button {
  display: inline-block;
  height: 40px;
  width: 100px;
  border-color: rgba(185,194,197, 0.24) rgba(185,194,197, 0.24) #b9c2c5 #b9c2c5;
  border-style: solid;
  border-width: 1px 1px 3px 3px;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  color: #b9c2c5;
  margin: 5px;
  font-weight: 400;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}
.menu .statuses .button.half {
  width: 43px;
}
.menu .statuses .button:hover {
  background-color: rgba(185,194,197, 0.1);
}
.menu .statuses .button:active {
  background-color: rgba(185,194,197, 0.25);
}
.menu .footer p {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.2;
}
